<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.2//EN" 
	"http://www.openmobilealliance.org/tech/DTD/xhtml-mobile12.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>WDA Courses Catalog - Mobile</title>
	<link href="/static/css/default.css" type="text/css" rel="stylesheet" />
</head>
<body>
<center>
	<img src="/static/img/wda-training.png"/>
	<hr style="border:1px dashed;color:58595b" width="100%"/>
</center>

<p>

<h1>{{ course.name }}
{% if admin_link %}
 - <a href='{{ admin_link }}'>Edit</a>
{% endif %}
</h1>
{{ course.duration }}
<br/>
<br/>
<b>Description: </b> {{ course.description }}
<br/>
<br/>
</p>
<hr style="border:1px dashed;color:58595b" width="100%"/>
<h2>Available Sessions</h2>

{% for session in sessions %}
<a href="/session?session_number={{ session.session_number }}">{{ session.start_date }} {{ session.start_time }} {{ session.address }}</a> <br/>
{% endfor %}


<p>
<a href="/">Home</a>
</p>


</body>
</html>